/*css document */

@font-face {
    font-family: docalisme;
    src: url('docalisme.ttf');
}

#name-header {
    font-family: docalisme, serif;
    font-size: 70px;
    display: inline-block;
    margin-left: 30px;
}

#registration-form {
    margin-top: 20px;
    width: 300px;
    display: inline-block;
    margin-bottom: 15px;
    position: absolute;
    right: 15px;
}

body {
    background-color: #FFF7E3;
}

header {
    position: relative;
    height: 150px;
}

#home-image {
    height: 40px;
    width: auto;
    cursor: pointer;
}

#navigation {
    width: 100%;
    font-size: 18px;
    list-style-type: none;
    display: table-cell;
    vertical-align: middle;
}

#navigation li {
    margin-right: 15px;
    display: inline-block;
}

nav {
    position: relative;
    border-style: solid;
    border-width: 2px;
    background-color: #FF0901;
}

.col-sm-10 {
    float: right;
    width: 230px;
}

.form-group {
    margin-bottom: 5px;
}

.btn btn-default {
    font-size: 300px;
}

#search-menu {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 3px;
    margin-bottom: 6px;
}

main {
    margin-top: 80px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#searchWord,
#searchType {
    border-radius: 5px;
    font-size: 20px;
    height: 30px;
}

#searchWord {
    width: 240px;
}

.dropdown-toggle {
    font-size: 17px;
    border-radius: 0;
    border: 0;
    background-color: #FF0901;
}

.dropdown-toggle:hover {
    background-color: #F8362F;
}

#src-image {
    height: 18px;
    width: auto;
}

#search-error {
    margin-top: 10px;
    font-size: 18px;
}

.dropdown-menu>li>p {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
}

.dropdown-menu>li>p:hover {
    background-color: #C5CED1;
}

#register {
    float: right
}

#create-new-user,
.upload-project-form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

p.normal-text {
    display: inline-block;
    font-weight: normal;
}

.upload-project {
    float: right;
    height: 50px;
    width: 200px;
    font-size: 20px;
    background-color: #E57811;
    border-color: #E57811;
}

.project-type-header {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 400px;
    text-align: center;
}

textarea.description {
    height: 150px;
    resize: none;
}

textarea.contact {
    height: 75px;
    resize: none;
}

html {
    margin-bottom: 100px;
}

.ninja-image {
    position: absolute;
    height: 150px;
    width: auto;
}

#ninja-left {
    top: 400px;
    left: 15px;
}

#ninja-right {
    top: 400px;
    right: 15px;
}

.register-error-msg {
    color: red;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 80%;
}

.user-project-div {
    z-index: 100;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    background-color: #FAF7F7;
    margin-bottom: 20px;
    box-shadow: 0px 8px 15px #888888;
}

.project-header {
    padding-top: 10px;
    padding-left: 30px;
    font-size: 30px;
    margin: 0;
    background-color: #EE2222;
    color: #000000;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.user-project-inner-div {
    padding: 10px;
    font-size: 20px;
}

#profileHomeButton:hover {
    cursor: pointer;
}

#user {
    color: #5D0E1A;
}

.project-username {
    font-size: 15px;
    margin: 0;
    margin-top: 15px;
}

.project-description {
    height: 100px;
    overflow: auto;
    margin-bottom: 15px;
}

.project-link {
    height: 30px;
    overflow: hidden;
    margin-bottom: 15px;
}

.project-contacts {
    margin: 0;
    height: 70px;
    overflow: auto;
    margin-bottom: 15px;
}

.contact-project-div {
    height: 100px;
}

.contact-project-div>p,
.description-project-div>p {
    margin: 0;
}

.contact-project-div,
.description-project-div {
    margin-bottom: 10px;
    border: 0;
    border-style: groove;
    border-top: 2px groove;
}


#JsCode {
    width: 400px;
    height: 200px;
    overflow: auto;
    resize: none;
}

#Console {
    width: 400px;
    height: 200px;
    overflow: auto;
    color: white;
    background-color: black;
    resize: none;
}