/*css document */
@font-face {
    font-family: docalisme;
    src: url('docalisme.ttf');
}
#name-header{
    font-family: docalisme , serif;
    font-size: 70px;
    display: inline-block;
    margin-left: 30px;
}
#registration-form{    
    margin-top: 20px;
    width: 300px;
    display: inline-block;
    margin-bottom: 15px;
    position: absolute;
    right: 10px;
}
body{
    background-color: #FFF7E3;
}
header{
    position: relative;
    height: 150px;
}

#home-image{
height: 40px;
width: auto;
}
#navigation{
    width: 100%;
    font-size: 18px;
    list-style-type: none;
    display: table-cell;
    vertical-align: middle ;
}

#navigation li{
    margin-right: 26px;
    display: inline-block;
}
nav {
    position: relative;
    border-style: solid;
    border-width: 2px;
    background-color: #FF0901;
}
.col-sm-10{
    float: right;
    width: 230px;
}
.form-group{
    margin-bottom: 5px;
}
.btn btn-default{
    font-size: 300px;
}
#search-menu{
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 3px;
}
main{
    margin-top: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#searchWord,#searchType{
    border-radius: 5px;
    font-size: 20px;
    height: 30px;
}
.dropdown-toggle{
    font-size: 17px;
    border-radius: 0;
    border: 0;
    background-color: #FF0901;
}
.dropdown-toggle:hover{
    background-color: #F8362F;
}
#src-image{
    height: 18px;
    width: auto;
}
#search-error{
    margin-top: 10px;
    font-size: 18px;
}
