#header {
    border: 1px solid red;
    height: 50px;
    padding: 3px;
}

#header>nav {
    display: inline-block;
    height: 50px;
}

#homePlace {
    width: 150px;
    height: 50px;
}

#homeButton {
    height: 32px;
    width: 80px;
}

#usersInfo {
    float: right;
    font-size: 30px;
}

#usersInfo>a {
    font-size: 30px;
    text-decoration: none;
}

#searchPlace {
    width: 300px;
}

#searchInput {
    font-size: 25px;
    width: 220px;
    height: 30px;
}

#searchIcon {
    width: 28px;
    height: 28px;
}

aside {
    position: relative;
    padding-top: -500px;
    float: right;
}