#header {
    border: 1px solid red;
    height: 50px;
}

#header>nav {
    display: inline;
}

#usersInfo {
    font-size: 30px;
}

#usersInfo>a {
    font-size: 30px;
    text-decoration: none;
}

#searchPlace {
    float: right;
}

#searchInput {
    font-size: 25px;
    width: 220px;
    height: 30px;
}

#searchIcon {
    width: 28px;
    height: 28px;
}

#menu {}

#menu-items {
    list-style-type: none;
}

#menu-item {
    width: 200px;
    color: white;
    font-size: 40px;
    background-color: red;
}

aside {
    position: relative;
    padding-top: -500px;
    float: right;
}